header {
	height: 100px;
	background-color: #403933;
}

header h2 {
  margin: 0;
  color: green;
  font-family: Arial, sans-serif;
}

p {
  color: green;
  font-family: Arial, sans-serif;
}

img { width: 50%; }

.wrapper {
  width: 600px;
  margin-left: 39%;
  margin-bottom: 2%;
}

a:link    { color: blue; } 
a:visited { color: red;   } 
a:hover   { color: green; } 
a:active  { color: pink;  }
 
main {
}
 
footer {
}